body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e4e3e3;
  color: #204051;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin: 0 auto 0 400px;
}

h3 {
  width: 24%;
  display: inline-block;
  text-align: center;
}
h4 {
  display: inline-block;
  width: 20%;
}
.top-banner {
  display: inline;
}

.banner-img {
  width: 30%;
  margin: 1%;
}

.image-div {
  display: inline-block;
  margin: 0 auto 0 auto;
}

.cursive-f {
  font-family: 'Dancing Script', cursive;
}
.service-top-line {
  width: auto;
  margin: 0 auto 0 25%;
}
.service-bottom-line {
  width: auto;
  margin: 0 auto 0 15%;
}
.dark-mode {
  padding-top: 10px;
  background-color: #204051;
  color: #84a9ac;
  margin: 0;
  padding-left: 40%;
}
.bottom-banner {
  background-color: #204051;
  display: flex;
  color: #84a9ac;
  margin: 0;
  padding-left: 25%;
}
.bottom-column1 {
  width: 45%;
}
.bottom-column2 {
  width: 45%;
}
